<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Angular Date Picker Polyfill</title>
  <link rel="stylesheet" type="text/css" href="../dist/angular-date-picker-polyfill-basic.css">
  <style type="text/css" media="all">
    body { font-family: arial; }
  </style>
</head>
<body data-ng-app='DemoApp'>
  <div data-ng-controller='DemoController'>
    <form name='myForm' no-validate>
      <p>
        <label>Calendar Field</label>
        <div aa-calendar ng-model='myCalendarDate'></div>
      <p>
        <label>My Date Field</label>
        <input type='date' data-ng-model='myDate' aa-datepicker-input />
      </p>
      <p>
        <label>My Date Field 2</label>
        <button ng-model='myDate2' type='button' tabindex='0' aa-datepicker-input>
          <span ng-show='myDate2'>{{ myDate2 | date:'shortDate'}}</span>
          <span ng-hide='myDate2'>Not Set</span>
        </button>
      </p>
      <p>
        <label>My Date/Time Field</label>
        <input type='datetime-local' data-ng-model='myDateTime' />
      </p>
    </form>
    <br/>
    <strong>Raw Values:</strong>
    <ul>
      <li>My Calendar Field: {{myCalendarDate}}</li>
      <li>My Date Field: {{myDate}}</li>
      <li>My Date/Time Field: {{myDateTime}}</li>
    </ul>
    <strong>Model Types:</strong>
    <ul>
      <li>My Calendar Field: {{displayType(myCalendarDate)}}</li>
      <li>My Date Field: {{displayType(myDate)}}</li>
      <li>My Date/Time Field: {{displayType(myDateTime)}}</li>
    </ul>
  </div>
  <script src="../vendor/bower/angular/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="../dist/angular-date-picker-polyfill.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var app = angular.module('DemoApp', ['angular-date-picker-polyfill']);
    app.controller('DemoController', function($scope) {
      $scope.myCalendarDate = null;
      $scope.myDate = null;
      $scope.myDate2 = null;
      $scope.myDateTime = null;
      $scope.displayType = function(model) {
        var rawType = typeof(model);
        if ((model == null) || (model == undefined)) {
          return 'null'
        }
        if (rawType == 'object') {
          if (angular.isDate(model)) {
            return 'date'
          } else {
            return rawType;
          }
        } else {
          return rawType;
        }
      };
    });
  </script>
</body>
</html>
