<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Angular Date Picker Polyfill</title>
  <link rel="stylesheet" type="text/css" href="../dist/angular-date-picker-polyfill-basic.css">
  <style type="text/css" media="all">
    body { font-family: arial; }
    .ng-invalid-datetime-local, .ng-invalid-date {
      border: solid 1px red;
    }
    form.ng-invalid-datetimelocal, form.ng-invalid-date {
      border: 0;
    }
  </style>
</head>
<body data-ng-app='DemoApp'>
  <div data-ng-controller='DemoController'>
    <form name='myForm' no-validate>
      <p>
        <label>Calendar Field</label>
        <div aa-calendar ng-model='myCalendarDate'></div>
      <p>
        <label>Time Field</label>
        <div aa-timepicker ng-model='myTimepickerDate' use-am-pm='true'></div>
      </p>
      <p>
        <label>Date Field</label>
        <input type='date' data-ng-model='myDate' />
      </p>
      <p>
        <label>Date/Time Field</label>
        <input type='datetime-local' data-ng-model='myDateTime' />
      </p>
      <p>
        <label>Button Date Field</label>
        <button ng-model='myButtonDate' type='button' tabindex='0' aa-date-input>
          <span ng-show='myButtonDate' ng-bind="myButtonDate | date:'shortDate'"></span>
          <span ng-hide='myButtonDate'>Not Set</span>
        </button>
      </p>
      <p>
        <label>Button Date/Time Field</label>
        <button ng-model='myButtonDateTime' type='button' tabindex='0' aa-date-time-input use-am-pm='false'>
          <span ng-show='myButtonDateTime' ng-bind="myButtonDateTime | date:'short'"></span>
          <span ng-hide='myButtonDateTime'>Not Set</span>
        </button>
      </p>
    </form>
    <br/>
    <strong>Values:</strong>
    <ul>
      <li>Calendar Field: {{myCalendarDate | date:'shortDate'}}</li>
      <li>Time Field: {{myTimepickerDate | date:'shortTime'}}</li>
      <li>Date Field: {{myDate | date:'shortDate'}}</li>
      <li>Date/Time Field: {{myDateTime | date: 'short'}}</li>
      <li>Button Date Field: {{myButtonDate | date: 'shortDate'}}</li>
      <li>Button Date/Time Field: {{myButtonDateTime | date: 'short'}}</li>
    </ul>
  </div>
  <script src="../vendor/bower/modernizr/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <script src="../vendor/bower/angular/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="../dist/angular-date-picker-polyfill.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var app = angular.module('DemoApp', ['angular-date-picker-polyfill']);
    app.controller('DemoController', function($scope) {
      $scope.myCalendarDate = null;
      $scope.myTimepickerDate = null;
      $scope.myDateTime = null;
      $scope.myDate = null;
      $scope.myButtonDate = null;
      $scope.myButtonDateTime = null;
    });
  </script>
</body>
</html>
